<div style="background: #f2f2f2; padding: 20px 20px; margin-top:20px;">
    <div style=" color: #333333; font-size: 12px; text-align:center">
        <span>{{translate "Manage Your Account"}}</span>
        <span style="padding: 0 8px;">|</span>
        <span>{{translate "Customer Support"}}</span>
    </div>
    <hr style="border-color: #999; color: #999;">
    <div style=" color: #333333; font-size: 12px;">
        <span style="width: 60%; display: inline-block;">
            {{companyAddress}}
            <div>
                <a style="text-decoration: none; color: #333333;" href="{{webPagePath}}">{{webPageTitle}}</a>
            </div>
        </span>
        <span style="width: 200px; float: right;">
            <div style="float: right; padding: 3px 0px;">
                <a href="{{socialLinkedIn}}" target="_blank" class="fa fa-lg fa-linkedin" style="color: #666666; margin: 0 3px;"></a>
                <a href="{{socialFaceBook}}" target="_blank" class="fa fa-lg fa-facebook" style="color: #666666; margin: 0px 3px;"></a>
                <a href="{{socialTwitter}}" target="_blank" class="fa fa-lg fa-twitter" style="color: #666666; margin: 0 3px;"></a>
                <a href="{{socialYouTube}}" target="_blank" class="fa fa-lg fa-youtube" style="color: #666666; margin: 0 3px;"></a>
                <a href="{{socialInstagram}}" target="_blank" class="fa fa-lg fa-instagram" style="color: #666666; margin: 0 3px;"></a>
            </div>
        </span>
    </div>
</div>