<div style="background: #3E81C0; padding: 20px 20px;">
    <div style=" color: #fff; font-size: 12px; text-align:center">
        <span>{{translate "Manage Your Account"}}</span><span style="padding: 0 8px;">|</span><span>{{translate "Customer Support"}}</span>
    </div>
    <hr style="border-color: #999; color: #999;">
    <div style=" color: #fff; font-size: 12px;">
        <span style="width: 60%; display: inline-block;">
            {{companyAddress}}
            <div>
                <a style="text-decoration: none; color: #fff;" href="{{webPage}}">{{webPageTitle}}</a>
            </div>
        </span>
        <span style="width: 200px; float: right;">
            <div style="float: right; padding: 5px 0px;">
                <a href="{{socialFaceBook}}"><img
                        src="{{webPage}}/assets/img/mail/facebook.png" style="width: 15px;"
                        alt="facebook"></a>
                <a href="{{socialTwitter}}"><img
                        src="{{webPage}}/assets/img/mail/twitter.png" style="width: 15px;"
                        alt="twitter"></a>
                <a
                    href="{{socialLinkedIn}}"><img
                        src="{{webPage}}/assets/img/mail/linkedin.png" style="width: 15px;"
                        alt="linkedin"></a>
                <a href="{{socialInstagram}}"><img
                        src="{{webPage}}/assets/img/mail/instagram.png" style="width: 15px;"
                        alt="instagram"></a>
                <a href="{{socialYouTube}}"><img
                        src="{{webPage}}/assets/img/mail/youtube.png" style="width: 15px;"
                        alt="youtube"></a>
            </div>
            <div style="float: right;">
                <a href="{{AppGalleryAppUrl}}"><img src="{{webPage}}/assets/img/mail/AppGalleryBadge.png" style="width: 65px;"
                        alt="AppGallery"></a>
                <a href="{{PlayStoreAppUrl}}"><img src="{{webPage}}/assets/img/mail/GoogleBadge.png" style="width: 65px;"
                        alt="PlayStore"></a>
                <a href="{{AppStoreAppUrl}}"><img src="{{webPage}}/assets/img/mail/AppleBadge.png" style="width: 65px;"
                        alt="AppStore"></a>
            </div>
        </span>
    </div>
</div>