<div style="padding: 10px 0;">
    {{translate "Dear %s" userName}},
</div>
<div style="padding: 10px 0;">
    {{translate "Please click the activation link to reset the password of your account belonging to the %{appName} application." appName}}
    <p><a href="https://{{hostName}}/users/change_password/{{verifyToken}}"
            style="text-decoration: none; color: #00bae4;">{{ translate "Activation link"}}</a></p>
</div>