
<div style="padding: 10px 0;">
    {{translate "Dear %s" userName}},
</div>
<div style="padding: 10px 0;">
    {{translate "Your {{appName}} password has been recently changed."}}
</div>
<div style="padding: 10px 0;">
    {{translate "If you did not request this password change, please contact the customer support team."}}
    <a href="{{webContactFormPath" style="text-decoration: none; color: #00bae4;">{{translate "Customer Support"}}</a>
</div>